* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    width: 50%;
    margin: 2rem auto;
    background: rgb(0, 174, 255);
}

h2{
    text-align: center;
    margin-bottom: 20px;
}

div {
    display: grid;
    grid-template-columns: 1fr;
    background-color: #eee;
    padding: 0.7rem;
    border-radius: 15px;
}

input, button {
    width: 98%;
    padding: 0.6rem 0.4rem;
    margin: 0.4rem;
    border-radius: 15px;
    border: 0;
}

button {
    text-decoration: none;
    border: none;
    display: block;
    cursor: pointer;
    text-align: center;
}

.success {
    background-color: rgb(54, 80, 231);
    color: rgb(255, 255, 255);
}

.delete {
    background-color: rgb(0, 195, 255);
    color: rgb(255, 255, 255);
}

.delete:hover{
    background: red;
    color: white;
}

table {
    background-color: #eee;
    margin-top: .9rem;
    border-collapse: collapse;
    width: 100%;
    border-radius: 15px;
}

th, td {
    padding: 5px 25px;
    text-align: left;
}